:root {
  --colorone: #1d4355;
  --colortwo: #b7506a;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  width: 100%;
}

/* header */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding-right: 5rem;
}

/* logo  */

.logo {
  width: 10rem;
}

/* navegacion */
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  list-style: none;
  padding: 0;
}

.nav ul li {
  list-style: none;
  padding: 0;
}

.nav ul li a {
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.3rem;
  transition: all 300ms;
  color: var(--colorone);
  border-bottom: 1px solid #1d4355;
}

.nav ul li a:hover {
  background-color: var(--colortwo);
  color: white;
}

.carousel-inner {
  width: 80%;
  margin: 0 auto;
}

/* fin carrousel */

/* hero  */

.hero {
  width: 100%;
  height: 60rem;
  background-image: url("/img/hero.svg");
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* cards  */

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 3rem;
  text-align: center;
}

.card {
  -webkit-box-shadow: -4px 0px 5px 0px rgba(232, 225, 232, 1);
  -moz-box-shadow: -4px 0px 5px 0px rgba(232, 225, 232, 1);
  box-shadow: -4px 0px 5px 0px rgba(232, 225, 232, 1);
  padding: 3rem;
}

i {
  font-size: 10rem;
  color: #1d4355;
}

.header-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.info-card h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.info-card p {
  font-size: 1.3rem;
}

.detail {
  width: 95%;
  margin: 0 auto;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 3rem;
}

.subtitle {
  font-size: 4rem;
  color: #1d4355;
  border-bottom: 3px solid #1d4355;
}

.subtitle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-button {
  background-color: #1d4355;
  color: white;
  font-size: 1.8rem;
}

.accordion {
  width: 70%;
  font-size: 1.6rem;
}
/* formulario */

.container {
  width: 65%;
  margin: 0 auto;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 3rem;
  border-radius: 2rem;
  margin-bottom: 4rem;
}

h1 {
  text-transform: uppercase;
}

.inputs {
  width: 100%;
  display: flex;
  margin-top: 4rem;

  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

select {
  outline-color: #1d4355;
  border-radius: 10rem;
}

label {
  font-size: 1.8rem;
  color: #1d4355;
  margin-bottom: 2rem;
}

.btn {
  background-color: #1d4355;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: 300ms all;
}

.btn:hover {
  background-color: #b7506a;
  color: white;
}

.alerta {
  font-size: 1.8rem;
  color: #b7506a;
}

.load {
  margin-top: 5rem;
  font-size: 1.6rem;
}

.resultados {
  margin-top: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}

/* footer */

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.phone {
  font-size: 2rem;
}
